@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>User Sync App</h1>
    <p class="lead">The User Sync app is app that uses the Azure AD v2.0 endpoint to authenticate to the <a href="https://graph.microsoft.io">Microsoft Graph</a> in order to sync an organization's employee data.  
    It is intended to show the use of the admin consent endpoint to configure and request direct application permissions from a company's administrator.  The app then uses those permissions to access the company's data in an "offline" fashion.  
    </p>
    <p class="lead">
        The User Sync app uses client credentials to periodically pull the list of users from an organizations directory, in a background process.
        The sync process occurs in <code>SyncController.cs</code>, which is invoked, in this sample, by button click on the users page.  For a true daemon
        scenario, this controller would be invoked periodically by a CRON job, Azure Web Job, or other time/event based script.
    </p>
    <p><a href="/User" class="btn btn-primary btn-lg">Get Started &raquo;</a></p>
</div>
