body {
	  padding: 0px;
	  background-color: #eee;
	}

	h3 {
	  margin: 2px;
	}

	#currentApplicantInfo {
	  margin: 0px;
	  padding: 0px;
	}

	.section {
	  margin: 0px;
	  padding: 0px;
	  padding-top: 2px;
	  padding-bottom: 4px;
	}

	.section input[type="radio"] {
	  margin: 0px;
	  margin-left: 4px;
	  padding: 0px;
	}

	.section label {
	  margin: 0px;
	  padding: 0px;
	  font-size: 0.8em;
	}
		
	#currentApplicantInfo table {
	  margin: 0px;
	  width: 100%;
	  box-sizing: border-box;
	  border: 1px solid black;
	  border-collapse: collapse;
	}

	#currentApplicantInfo table td {
	  min-width: 100px;
	  border: 1px solid #ddd;
	  border-collapse: collapse;
	  padding: 2px;
	  padding-left: 4px;
	  background: white;
	  font-size: 1.0em;
	}

	#currentApplicantInfo table td.header_cell {
	  color: #eee;
	  background-color: navy;
	  font-weight: bold;
	  border: 1px solid black;
	}

	#monthly_payment {
	  color: red;
	}