<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="applicationId" value="33af48ac-ffff-49c7-9008-8c51ecb56dbc" />
		<add key="tenantId" value="bbf0fcd4-a34f-404d-92db-4cac16237e20"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>
