# The public domain name of where you host your application
PUBLIC_HOSTNAME=learnmsteamsmeetingsapps.azurewebsites.net

# Id of the Microsoft Teams application
APPLICATION_ID=d09f3340-786f-11ec-8455-d1ecbc5bb1fe
# Package name of the Microsoft Teams application
PACKAGE_NAME=learnmsteamsmeetingsapps

# App Id and App Password for the Bot Framework bot
MICROSOFT_APP_TID=REPLACE
MICROSOFT_APP_ID=REPLACE
MICROSOFT_APP_PASSWORD=REPLACE

# Port for local debugging
PORT=3007

# Security token for the default outgoing webhook
SECURITY_TOKEN=

# ID of the Outlook Connector
CONNECTOR_ID=

# Application Insights instrumentation key
APPINSIGHTS_INSTRUMENTATIONKEY=

# NGROK configuration for development
# NGROK authentication token (leave empty for anonymous)
NGROK_AUTH=
# NGROK sub domain. ex "myapp" or  (leave empty for random)
NGROK_SUBDOMAIN=
# NGROK region. (us, eu, au, ap - default is us)
NGROK_REGION=

# Debug settings, default logging "msteams"
DEBUG=msteams

TAB_APP_ID=REPLACE
TAB_APP_URI=api://REPLACE.ngrok.io/REPLACE