@model List<Office365Group.Models.ConversationModel>
@{ ViewBag.Title = "Group Conversations";}

<h2>Group Conversations</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>Topic</th>
        <th>Last Delivered Date Time</th>
        <th>Preview</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.topic)</td>
            <td>@Html.DisplayFor(modelItem => item.lastDeliveredDateTime)</td>
            <td>@Html.DisplayFor(modelItem => item.preview)</td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Back to Group Home", "Index")
</p>

