<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ClientId" value="edc44db9-87ab-4f7f-8f1d-96c85607a927"/>
    <add key="ClientSecret" value="TXMKLCG7aGJE7zyBaA1r4MNfSNAKuh2hbnm165/d0NA="/>
    <add key="RedirectUri" value="http://authflowdemo.com"/>
    <add key="Resource" value="https://msacademy1-my.sharepoint.com"/>
    <add key="Host" value="msacademy1-my.sharepoint.com"/>
    <add key="PersonalSite" value="https://msacademy1-my.sharepoint.com/personal/scot_msacademy1_onmicrosoft_com"/>
    <add key="TenantId" value="e0c47698-0b6b-43e3-90ed-ff48a83ef800"/>
  </appSettings>
</configuration>