@model O365Discovery.Models.GetAuthorizedResult

<h2>API Response</h2>

<dl class="dl-horizontal">
	<dt>
		@Html.DisplayNameFor(model => model.code)
	</dt>

	<dd>
		@Html.DisplayFor(model => model.code)
	</dd>

	<dt>
		@Html.DisplayNameFor(model => model.session_state)
	</dt>

	<dd>
		@Html.DisplayFor(model => model.session_state)
	</dd>

</dl>
</div>
