@model O365Discovery.Models.DiscoveryViewModel

@{
    ViewBag.Title = "First Sign-In Result";
}

		<div class="row">
			<div class="col-md-6">
				@Html.Partial("_ProcessFlow", Model)
			</div>
			<div class="col-md-6">
				@Html.Partial("_FirstSignInDetails", Model.FirstSignInResult)

				<p>@Html.ActionLink("Get Authorized", "GetAuthorized", null, new { @class = "btn btn-default" })</p>

			</div>
		</div>

	