body {
}

h1{
  margin-bottom: 4px;
}

#position_display{
  border: 1px solid #888;
  padding: 8px;
  background-color: #ccc;
  font-size: 1.2em;
  margin: 4px;
  margin-bottom: 8px;
}

#__showMap{
  width: 300px;
}

#mapCanvas {
  width:100%; 
  height:480px; 
  position: absolute;
}

