body {
  margin: 0;
}

#topDiv {
  background-color: white;
  padding: 0;
}

#topDiv h2 {
  margin: 0;
  font-size: 24pt;
  color: white;
  background-color: #0a00ff;
  padding: 12px;
	height: 24px;
}

#topDiv .toolbar {
  background-color: #fbeba0;
  margin: 0;
  padding: 2px;
}

#topDiv .toolbar input {
  margin: 4px;
}


#topDiv .displayPanel {
  margin: 0;
  border: 1px solid black;
  padding: 6px;
  font-size: 12px;
  font-family: "Garamond, Arial, sans-serif";
  background-color: white;
  color: blue;
  min-height: 320px;
}
