
@{
    ViewBag.Title = "Send a Mail";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.AuthorizationRequest != null)
{
    <text>
        This page requires you to grant additional permissions to the app. Click <a href="@ViewBag.AuthorizationRequest">here</a> to be redirected to the consent experience.
    </text>
}
else
{
    <text>
<style>
    div,input,textarea {
        min-width:300px;
    }
    textarea {
        min-height:200px;
    }
</style>
        <form method="post">
            <div>
                <div>
                    Recipient
                </div>
                <div>
                    <input type="text" placeholder="someone@somewhere.com" name="recipient">
                </div>
            </div>
            <div>
                <div>
                    Subject
                </div>
                <div>
                    <input type="text" placeholder="Subject" name="subject">
                </div>
            </div>
            <div>
                <div>
                    Message
                </div>
            @*<input type="text" placeholder="Body" id="search-fld" name="body">*@
                <div>
                    <textarea name="body" placeholder="your message"></textarea>
                </div>
            </div>  
            <button type="submit">
                Send
            </button>
        </form>



    </text>
}
