@{ ViewBag.Title = "Create New Termset"; }

<hr/>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Create a New Termset </h3>
  </div>
  <div class="panel-body">

    @using (Html.BeginForm("CreateSimpleTermset", "Home", new { SPHostUrl = Request["SPHostUrl"] }, FormMethod.Post)) {
      <div class="form-horizontal">
        <input type="submit" value="Create Simple Termset" class="btn btn-default" />
      </div>
    }

    <br/>

    @using (Html.BeginForm("CreateCustomerGeographyTermset", "Home", new { SPHostUrl = Request["SPHostUrl"] }, FormMethod.Post)) {
      <div class="form-horizontal">
        <input type="submit" value="Create Customer Geography Termset" class="btn btn-default" />
      </div>
    }


    <br />

    @using (Html.BeginForm("CreateProductCategoriesTermset", "Home", new { SPHostUrl = Request["SPHostUrl"] }, FormMethod.Post)) {
      <div class="form-horizontal">
        <input type="submit" value="Create Product Categories Termset" class="btn btn-default" />
      </div>
    }
    
  </div>
</div>


