<div class="expenses view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Employee Expenses</h3>
        </header>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div>
                        <h4>Expenses for <a href="#/employeeEdit/{{::vm.employee.id}}">{{::vm.employee.firstName}} {{::vm.employee.lastName }} <i class="icon-edit editIcon"></i></a></h4>
                        {{::vm.employee.address}}
                        <br />
                        {{::vm.employee.city}}, {{::vm.employee.state}}
                        <br /><br />
                    </div>
                    <div data-ng-include="'/app/expenseApp/views/expenses/expensesTable.html'" data-ng-controller="ExpenseChildController as vm" />
                </div>
            </div>
        </div>
    </div>
</div>
