@using Microsoft.Graph

@model List<Group>
@{
    ViewBag.Title = "Find a group";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <div class="input-group">
        <input type="text" name="searchString" class="form-control" placeholder="Search by name or email...">
        <span class="input-group-btn">
            <input type="submit" value="Search" class="btn btn-default" />
        </span>
    </div>
}
<table class="table table-bordered table-striped table-hover">
    @foreach (var group in Model)
    {
        <tr onclick="location.href = '@(Url.Action("GroupMembers", "GroupSearch", new { groupId = group.Id, nextLink = "" }))'">
            <td>
                @Html.DisplayFor(modelItem => group.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => group.Description)
            </td>
        </tr>
    }

</table>