
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutScheduler.cshtml";
}
<div id='calendar'></div>
<div id="event_edit_container">
    <form>
        <input type="hidden" />
        <ul>
            <li>
                <span class="date_get">Date: </span><span class="date_holder"></span>
            </li>
            <li>
                <label for="start">Start Time: </label><select name="start"><option value="">Select Start Time</option></select>
            </li>
            <li>
                <label for="end">End Time: </label><select name="end"><option value="">Select End Time</option></select>
            </li>
            <li>
                <label for="title">Title: </label><input type="text" name="title" />
            </li>
            <li>
                <label for="body">Body: </label><textarea name="body"></textarea>
            </li>
        </ul>
    </form>
</div>


