@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Home</h2>
        @Html.ActionLink("Press here to authenticate", "Index", "AcceptRedirect")
    </div>
</div>