@model IEnumerable<OfficeGraphLab.Models.User>
@{
    ViewBag.Title = "Users";
}
<h2>Users</h2>
<table class="table">
    <tr>
        <th>User Name</th>
        <th>Mail</th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DisplayName</td>
            <td>@item.Mail</td>
            <td>
                @Html.ActionLink("See Trending Documents", "Index", new { userId = item.Id })
            </td>
        </tr>
    }
</table>