<div class="view">
  <div class="container">
    <header>
      <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
    </header>
    <br/>

    <div class="container">
      <div class="row">
        <div class="span2">Created by:</div>
        <div class="span9"><a href="http://twitter.com/DanWahlin" target="_blank">Dan Wahlin</a></div>
        <div class="span9"><a href="http://twitter.com/StaticVoidMain" target="_blank">Spike Xavier</a></div>
        <div class="span9"><a href="http://twitter.com/AndrewConnell" target="_blank">Andrew Connell</a></div>
      </div>
      <br/>

      <div class="row">
        <div class="span2">Blog:</div>
        <div class="span9"><a href="http://weblogs.asp.net/dwahlin" target="_blank">weblogs.asp.net/dwahlin</a></div>
        <div class="span9"><a href="http://transmissionit.com" target="_blank">transmissionit.com</a></div>
        <div class="span9"><a href="http://www.andrewconnell.com/blog" target="_blank">www.andrewconnell.com/blog</a></div>
      </div>
      <br/>

      <div class="row">
        <div class="span2">Training:</div>
        <div class="span9"><a href="mailto:training@thewahlingroup.com" target="_blank">Interested in hands-on AngularJS
          or SharePoint Training? Contact us for details.</a></div>
      </div>
	  <br/>
	  <br/>
				  
	  <div class="row">
        <div class="span2">Modified to use Microsoft Graph API endpoints with ADAL.js by:</div>
        <div class="span9"><a href="http://twitter.com/toddbaginski" target="_blank">Todd Baginski</a></div>
        <div class="span9"><a href="http://twitter.com/canviz" target="_blank">Canviz Consulting</a></div>
      </div>
      <br/>

      <div class="row">
        <div class="span2">Blog:</div>
        <div class="span9"><a href="http://www.toddbaginski.com/blog" target="_blank">www.toddbaginski.com/blog</a></div>
        <div class="span9"><a href="http://www.canviz.com/Company/blog/default.aspx" target="_blank">http://www.canviz.com/Company/blog/default.aspx</a></div>
      </div>	  
	  <br/>

      <div class="row">
        <div class="span2">Consulting / Development:</div>
        <div class="span9"><a href="mailto:info@canviz.com" target="_blank">Interested in consulting and development with AngularJS
          for SharePoint and Office 365? Contact us for details.</a></div>
      </div>
  </div>
</div>


