@{
    ViewBag.Title = "Home Page";
}

<table class="stripe">
    <thead>
    <th>Site</th>
    <th>Title</th>
    </thead>
    <tbody>
        <tr><td>Host Web</td><td>@ViewBag.hostTitle</td></tr>
        <tr><td>App Web</td><td>@ViewBag.appTitle</td></tr>
    </tbody>
</table>

