@{
    Layout = null;
}
<H2>Register your channel for Task Notification</H2>
<p>
    Click the button to call the "register" endpoint in the sample app, which will register the connector for the selected channel.
</p>

<a href="https://outlook.office.com/connectors/Connect?state=myAppsState&app_id=[ApplicationID]&callback_url=[NGROK_HTTPS]/connector/register">
    <img src="https://o365connectors.blob.core.windows.net/images/ConnectToO365Button.png" alt="Register The Channel" />
</a>




