@{
    Layout = null;
}
<H2>Register your channel for Task Notification</H2>
<p>
    Click the button to call the "register" endpoint in the sample app, which will register the connector for the selected channel.
</p>

<a href="https://outlook.office.com/connectors/Connect?state=State_Info_To_Preserve&app_id=f8daf5f2-06e5-453b-8c98-1930f09424f2&callback_url=https://8555a1a2.ngrok.io/connector/register">
    <img src="https://o365connectors.blob.core.windows.net/images/ConnectToO365Button.png" alt="Register The Channel" />
</a>




