<!-- 
Copyright (c) Microsoft Corporation. All rights reserved.
Licensed under the MIT license. 
-->

@{
  ViewData["Title"] = "User Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome @Model.DisplayName</h1>
</div>