<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>o365SharepointTenantUrl</key>
	<string>https://YOUR TENANT.sharepoint.com/YOUR SITE</string>
	<key>authority</key>
	<string>https://login.microsoftonline.com/common</string>
	<key>redirectUriString</key>
	<string>http://example.com/redirect</string>
	<key>resourceId</key>
	<string>https://YOUR TENANT.sharepoint.com</string>
	<key>clientId</key>
	<string></string>
</dict>
</plist>
