<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="span2">Created by:</div>
                <div class="span9"><a href="http://twitter.com/DanWahlin" target="_blank">Dan Wahlin</a></div>
                <div class="span9"><a href="http://twitter.com/StaticVoidMain" target="_blank">Spike Xavier</a></div>
                <div class="span9"><a href="http://twitter.com/AndrewConnell" target="_blank">Andrew Connell</a></div>
            </div>
            <br />
            <div class="row">
                <div class="span2">Blog:</div>
                <div class="span9"><a href="http://weblogs.asp.net/dwahlin" target="_blank">weblogs.asp.net/dwahlin</a></div>
                <div class="span9"><a href="http://transmissionit.com" target="_blank">transmissionit.com</a></div>
                <div class="span9"><a href="http://www.andrewconnell.com/blog" target="_blank">www.andrewconnell.com/blog</a></div>
            </div>
            <br />
<!--
            <div class="row">
                <div class="span2">GitHub:</div>
                <div class="span9"><a href="https://github.com/OfficeDev/SP-AngularJS-ExpenseManager-Code-Sample" target="_blank">https://github.com/OfficeDev/SP-AngularJS-ExpenseManager-Code-Sample</a></div>
            </div>
-->
            <br />
            <div class="row">
                <div class="span2">Training:</div>
                <div class="span9"><a href="mailto:training@thewahlingroup.com" target="_blank">Interested in hands-on AngularJS or SharePoint Training? Contact us for details.</a></div>
            </div>
        </div>
    </div>
</div>


