body {display:none; padding:0px;  margin:0px; background-color:#F4F4F9; font-family:Helvetica, Arial, sans-serif;}
table {padding:0px; margin:0px}
h3 {font-weight:normal; font-size:x-large}
button {background-color:#EAEAEA; border:solid 1px #BABABA; padding:6px; margin:3px; background-color:transparent; color:#D0D0E0}
select {font-size:12pt}
.bigButtonIcon {position:relative; top:1px; left:-2px}
.bigButton {background-color:#EAEAEA; border:solid 1px #BABABA; padding:12px; margin:0px; width:125px; text-align:left; margin-top:10px; margin-bottom:10px; background-color:#3063F5}
.bigButton:hover {background-color:#4083F5}
.header {background-color:#3063F5; padding:20px; padding-top:20px; padding-bottom:10px; height:40px; color:white}
.headerText {padding:4px}
#signedInAs {padding-bottom:20px; text-align:right; color:#9090C0}
#signedInAsLabel, #detailsPage {display: none}
#message {margin:20px}
.app-userDisplay {margin-right:14px}
.userLabel {width:100px; display:inline-block}
#splashBar {height:1em; background-color:#FFDC3A; box-shadow:0px 5px 5px rgba(220,220,220,0.6)}
.docTile {text-decoration:none; width:120px; height:120px; margin:20px; display:inline-block; border:solid 1px #C0C0C0; vertical-align:top; padding:8px; color:white; background-color:rgba(38, 86, 229, 0.8)}
.areaHeader {margin:20px; margin-bottom:0px}
.itemTile {width:280px; height:380px; border:solid 1px #C0C0C0; vertical-align:bottom; margin:20px; display:inline-block}
.itemTileImage {width:100%; height:240px; background-size:contain; background-repeat:no-repeat; background-color:#E0E0E0; background-position:center center}
.itemTileContent {width:100%; height:140px; background-color:#F2F2F2}
.itemTileText {padding:6px; display:inline-block; color:#3063F5; font-size:20pt}
.itemColorSwatch {vertical-align:middle;border:solid 1px #C0C0C0; width:20px; height:20px; display:inline-block; margin:6px; margin-left:16px}
.itemColorTitle {vertical-align:middle;display:inline-block; margin:6px; margin-left:0}
.itemFieldArea {padding-left:45px; font-size:x-small}
.itemFieldLabel {display:inline-block; width:50px}
.itemFieldValue {display:inline-block}
#backButton {color:#225AFF; padding-left:20px; cursor:default}
.backButtonElement {display:inline-block}
#bikeTitle {padding-top:27px; padding-left:19px; font-size:38pt; color:#225AFF; vertical-align:bottom}
#bikeDetailsArea {padding:20px}
#bikeDetailsArea .operation .sub-operation{display: none}
#bikeDetailsArea .operation.checkOut .sub-operation.checkOut, #bikeDetailsArea .operation.wait .sub-operation.wait, #bikeDetailsArea .operation.checkIn .sub-operation.checkIn {display: inline}
#bikeDescription {margin-top:20px}
.bikeDetailsTable {display:table; margin-top:40px}
.bikeDetailsRow {display:table-row}
.bikeDetailsLabel {display:table-cell; background-color:#E0E0E0; padding:4px; width:80px; border-bottom:solid 1px #C0C0C0}
.bikeDetailsValue {display:table-cell; padding:4px; text-align:right; border-bottom:solid 1px #C0C0C0; min-width:180px}
.topToolbarArea {background-color:#2656E5; padding-top:10px; padding-bottom:10px; color:white; padding-left:20px}
.toolbarItem {display:inline-block; vertical-align:middle; padding-left:8px; padding-right:8px}
.toolbarItem > .ms-Icon {padding-top:3px}
#bikeImage {background-repeat:no-repeat; background-size:contain; background-position:center top; vertical-align:middle; text-align:center; display:block; min-height:40vh; min-width:240px; width:100%; height:100%; margin-top:20px; margin-left:12px; margin-right:12px}
.twocol {display:table}
.twocolRow {display:table-row}
.twocolColA {display:table-cell; width:70vw}
.twocolColB {display:table-cell; width:30vw}
.docTileText {height:96px}
.docTileIcon {vertical-align:bottom; text-align:right; font-size:16pt; height:100%}
#bikeBanner {background-color:#FFDC3A; color:#225AFF; box-shadow:0px 5px 5px rgba(220,220,220,0.6); height:110px; padding-left:9px}
