@using Microsoft.Graph
@using GraphUsersGroups.Models
@model List<User>
@{
    ViewBag.Title = "Find a user to add to the group";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <div class="input-group">
        <input type="text" name="searchString" class="form-control" placeholder="Search by name or email...">
        <span class="input-group-btn">
            <input type="submit" value="Search" class="btn btn-default" />
        </span>
    </div>
}
<table class="table table-bordered table-striped table-hover">
    @foreach (var _user in Model)
    {
        <tr onclick="location.href = '@(Url.Action("AddMember", "GroupSearch", new { id = _user.Id, groupId = GroupModel.groupId }))'">
            <td>
                @Html.DisplayFor(modelItem => _user.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => _user.UserPrincipalName)
            </td>
        </tr>
    }
</table>