@{ ViewBag.Title = "Home - Site Properties";}

<h3>Site Properties</h3>
<table class="table table-striped table-bordered table-condensed"  >
  @{
    foreach (var prop in ViewBag.siteProperties) {
      <tr>
        <td>@Html.Raw(prop.Key)</td>
        <td>@Html.Raw(prop.Value)</td>
      </tr>
    }
  }
</table>
