@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OpenGraph</h1>
    <p class="lead">OpenGraph Protocol allows you to post activities to Yammer with links to those items</p>
    <p>@Html.ActionLink("Create an Activity", "Create", "Home")</p>
</div>
