@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/Pru33qjShpZSmG3z6VYwnT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/Xyjz-jNkfiYuJf8UC3Lizw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/oOeFwZNlrTefzLYmlVV1UD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/97uahxiqZRoncBaCEI3aWz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/7m8l7TlFO-S3VkhHuR0at9Ih4imgI8P11RFo6YPCPC0.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/dFWsweFqlD8ExfyN7Gh_GPesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/OLffGBTaF0XFOW1gnuHF0dIh4imgI8P11RFo6YPCPC0.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/t6Nd4cfPRhZP44Q5QAjcC9Ih4imgI8P11RFo6YPCPC0.woff) format('woff');
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto';
}

#view-container {
    position: relative;
    padding-top: 50px;
}

#nav-login {
    margin-left:30px;
}

.appTitle {
    line-height:50px;
}

.view {

}

.white {
    color: white;
}

.white:hover{
    color: white;
}

.card {
    background-color:#fff;
    border: 1px solid #d4d4d4;
    height:100px;
    margin-bottom: 20px;
    position: relative;
}

.cardHeader {
    background-color:#027FF4;
    font-size:12pt;
    color:white;
    padding:5px;
    width:100%;
}

.cardClose {
    color: white;
    font-weight:bold;
    margin-right:5px;
}

.cardContainer {
    width:85%;
    min-height: 400px;
}

.cardBody {
    padding-left: 5px;
}

.cardBodyLeft {
    margin-top: -5px;
}

.cardBodyRight {
    margin-left: 20px;
    margin-top: 2px;
}

.cardBodyContent {
    width: 100px;
}

.cardImage {
    height:50px;width:50px;margin-top:10px;
}

.lastRow {
    background-color: #ccc;
}

.indent {
    margin-left:5px;
}

.expensesTable {
    width:85%;
}

.expenses th, .employees th {
    width:20%;
    cursor: pointer;
}

.expensesTable tr:first-child th, .employeesTable tr:first-child th {
    background-color: #027FF4;
    color: #fff;
    font-weight: bold;
}

.gridContainer td {
    vertical-align: middle;
}


#submitEmployee {
    margin-left:50px;
    margin-top: -8px;
}

footer {
    margin-top:10px;
    font-weight: bold;
}

.employeeEdit input[type='text'], 
.employeeEdit input[type='number'],
.employeeEdit input[type='email'],
.employeeEdit select,
.login input[type='text'], 
.login input[type='email'],
.login input[type='password'] {
    width:250px;
}

.statusRow {
    height:50px;
}

/* Bootstrap overrides */

/* Added to fix Bootstrap 3 issue with Angular UI Bootstrap modal dialog*/
.modal { 
  display: block;
  overflow: hidden;
  overflow-y: hidden;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #027FF4;
  border-color: #027FF4;
}

.cardContainer .col-md-3 {
    padding-left: 0px;
}

.gridContainer  div {
    padding-left: 0px;
}

.navbar-brand {
    float:none;
}

a.navbar-brand {
    color: #fff;
}

.navbar-inner {
    padding-left: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #027FF4;
    background-image: none;
}

.navbar-inner.toolbar {
    background-color: #fafafa;
}

.navbar-inner.footer {
    background-color: #fafafa;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height:50px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: #efefef;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #808080;
}

.navbar .nav li.toolbaritem a:hover, .navbar .nav li a:hover {
    color: #E03930;
}

.navbar .nav > li  {
    cursor:pointer;
}

    .navbar .nav > li > a {
        color: white;
        font-weight:bold;
        -webkit-text-shadow: none;
        text-shadow: none;
        height:30px;
        padding-top: 6px;
        padding-bottom: 0px;
    }

    .navbar .nav > li.toolbaritem > a {
        color: black;
        font-weight:bold;
        -webkit-text-shadow: none;
        text-shadow: none;
    }


.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: 0 1px 00px rgba(0, 0, 0, 0);
     -moz-box-shadow: 0 1px 00px rgba(0, 0, 0, 0);
          box-shadow: 0 1px 00px rgba(0, 0, 0, 0);
}

.nav.navBarPadding {
    margin-left:25px;
    margin-top: 10px;
}

.navbarText {
    font-weight:bold;
}

.navbar .brand {
    margin-top: 2px;
    color: #fff;
    -webkit-text-shadow: none;
    text-shadow: none;
}

.navbar-toggle {
  border: 1px solid white;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

.close {
    font-size:15pt;
    opacity: 1.0;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.btn.active {
  background-color: #f7f7f7;
}

/* ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng.ng-cloak {
    display: none;
}

.novalidate {
    border-left: none !important;
}

input.ng-invalid, select.ng-invalid, input.ng-invalid-required, select.ng-invalid.required {
  border-left: 5px solid #E03930;
}

input.ng-valid, select.ng-valid, input.ng-valid-required, select.ng-valid.required {
  border-left: 5px solid #57A83F;
}

.errorMessage {
    position:absolute;
    padding: 5px;
    background-color: #E03930;
    color:white;
    top:0px;
    left:270px;
}

.editIcon {
    margin-top: 2px;
}

.pagination li {
    cursor: pointer;
}

/* wcOverlay directive CSS styles */
.overlayContainer { display: none;}
.overlayBackground { top:0px; left:0px; padding-left:100px;position:absolute; z-index:1000;height:100%;width:100%;background-color:#808080;opacity:0.3;}
.overlayContent { position:absolute; border: 1px solid #000; background-color:#fff; font-weight: bold;height: 100px;width: 300px;z-index:1000;text-align:center;}


@media screen and (max-width: 640px) {

    navbar-toggle { 
        display: none;
    }

    #view-container {
        padding-top: 90px;
    }

    .navbar-brand {
        font-size: 12pt;
    }

    .nav.navBarPadding {
        margin-left: -10px;
    }

    .nav > li > a {
        padding-right: 5px;
        padding-left: 5px;
    }

}