<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<appSettings>
		<add key="ClientId" value="d59c1567-6e32-4175-8ca2-e64e392bb387"/>
		<add key="ClientSecret" value="e3rNn/6vEXnsmsvqXR+tBL0Vg5GkEuiTKzaAP/Ccr7g="/>
	</appSettings>

</configuration>



