<h3>Customer List</h3>

<div class="ms-Table">
    <div class="ms-Table-row">
        <span class="ms-Table-cell">ID</span>
        <span class="ms-Table-cell">First Name</span>
        <span class="ms-Table-cell">Last Name</span>
        <span class="ms-Table-cell">Work Phone</span>
        <span class="ms-Table-cell">Home Phone</span>
        <span class="ms-Table-cell">Email Address</span>
        <span class="ms-Table-cell">&nbsp;</span>
        <span class="ms-Table-cell">&nbsp;</span>
        <span class="ms-Table-cell">&nbsp;</span>
    </div>
    <div class="ms-Table-row" ng-repeat="customer in customers">
        <span class="ms-Table-cell">{{customer.Id}}</span>
        <span class="ms-Table-cell">{{customer.FirstName}}</span>
        <span class="ms-Table-cell">{{customer.Title}}</span>
        <span class="ms-Table-cell">{{customer.WorkPhone}}</span>
        <span class="ms-Table-cell">{{customer.HomePhone}}</span>
        <span class="ms-Table-cell">{{customer.Email}}</span>
        <span class="ms-Table-cell"><a href="#/view/{{customer.Id}}" class="ms-Link">View</a></span>
        <span class="ms-Table-cell"><a href="#/edit/{{customer.Id}}" class="ms-Link">Edit</a></span>
        <span class="ms-Table-cell"><a href="#/" data-ng-click="deleteCustomer(customer.Id)" class="ms-Link">Delete</a></span>
    </div>
</div>
