<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.ActiveDirectory.GraphClient" version="2.0.0" targetFramework="win81" />
  <package id="Microsoft.Data.Edm" version="5.6.3" targetFramework="win81" />
  <package id="Microsoft.Data.OData" version="5.6.3" targetFramework="win81" />
  <package id="Microsoft.Data.Services.Client" version="5.6.3" targetFramework="win81" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.12.111071459" targetFramework="win81" />
  <package id="Microsoft.OData.Client" version="6.8.1" targetFramework="win81" />
  <package id="Microsoft.OData.Core" version="6.8.1" targetFramework="win81" />
  <package id="Microsoft.OData.Edm" version="6.8.1" targetFramework="win81" />
  <package id="Microsoft.Office365.Discovery" version="1.0.22" targetFramework="win81" />
  <package id="Microsoft.Office365.Exchange" version="0.1.1-alpha" targetFramework="win81" />
  <package id="Microsoft.Office365.OAuth.Windows" version="1.0.22" targetFramework="win81" />
  <package id="Microsoft.Office365.OutlookServices" version="1.0.22" targetFramework="win81" />
  <package id="Microsoft.Office365.SharePoint" version="1.0.22" targetFramework="win81" />
  <package id="Microsoft.Spatial" version="6.8.1" targetFramework="win81" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="win81" />
  <package id="System.Spatial" version="5.6.3" targetFramework="win81" />
</packages>