<div style="margin:25px;">
    <table>
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>Subject</th>
            <th>Location</th>
        </tr>
        @foreach (var Event in ViewBag.Events)
        {
            <tr>
                <td>
                    <div style="width:200px;">@Event.Start.DateTime.ToString()</div>
                </td>
                <td>
                    <div style="width:200px;">@Event.End.DateTime.ToString()</div>
                </td>
                <td>
                    <div style="width:200px;">@Event.Subject</div>
                </td>
                <td>
                    <div style="width:200px;">@Event.Location.DisplayName</div>
                </td>
            </tr>
        }
    </table>
</div>