<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ClientId" value="REPLACE-WITH-AZUREAD-APP-CLIENTID"/>
    <add key="ClientSecret" value="REPLACE-WITH-AZUREAD-APP-CLIENTSECRET"/>
    <add key="RedirectUri" value="http://authflowdemo.com"/>
    <!-- update link to point to the root of your Office 365 tenant -->
    <add key="Resource" value="https://REPLACE.sharepoint.com"/>
    <!-- update link to point to the root of your Office 365 tenant -->
    <add key="Host" value="REPLACE.sharepoint.com"/>
    <!-- update link to point to the root of your OneDrive for Business site -->
    <add key="PersonalSite" value="https://REPLACE.sharepoint.com/personal/REPLACE"/>
    <add key="TenantId" value="REPLACE-WITH-AZUREAD-TENANTID"/>
  </appSettings>
</configuration>