<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ClientId" value=""/>
    <add key="ClientSecret" value=""/>
    <add key="RedirectUri" value=""/>
    <!-- update link to point to the root of your Office 365 tenant -->
    <add key="Resource" value=""/>
    <!-- update link to point to the root of your Office 365 tenant -->
    <add key="Host" value=""/>
    <!-- update link to point to the root of your OneDrive for Business site -->
    <add key="PersonalSite" value=""/>
    <add key="TenantId" value=""/>
  </appSettings>
</configuration>