@{
  ViewBag.Title = "Home Page";
}
<div>
  <table>
    <thead>
      <tr>
        <th>Subject</th>
        <th>Start</th>
        <th>End</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var o365Contact in ViewBag.Events) {
        <tr>
          <td>@o365Contact.Subject</td>
          <td>@o365Contact.Start</td>
          <td>@o365Contact.End</td>
        </tr>
      }
    </tbody>
  </table>
</div>