body {
    background-color: black;
}

.padding {
    padding: 15px;
}

#player {
    float: left;
}

#control_panel {
    background-color: #DDD;
    padding: 8px;
    margin-left: 644px;
}

    #control_panel select {
        width: 100%;
    } 