<h2>Microsoft Graph Webhooks</h2>

<div>
    <p>You can subscribe to webhooks for specific resources (such as Outlook messages or events) to get notifications about changes to the resource.</p>
    <p>This sample creates a subscription for the <i>me/mailFolders('Inbox')/messages</i> resource and the <i>Created</i> change type. The request body looks like this:</p>
    <code>
        {<br />
        &nbsp;&nbsp;"resource": "me/mailFolders('Inbox')/messages",<br />
        &nbsp;&nbsp;"changeType": "created",<br />
        &nbsp;&nbsp;"notificationUrl": "https://your-notification-endpoint",<br />
        &nbsp;&nbsp;"clientState": "your-client-state",<br />
        &nbsp;&nbsp;"expirationDateTime": "2016-03-14T03:13:29.4232606+00:00"<br />
        }
    </code>
    <p>See the <a href="http://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/subscription_post_subscriptions">docs</a> for other supported resources and change types.</p>
    <br />
    @using (Html.BeginForm("CreateSubscription", "Subscription"))
    {
        <button type="submit">Create subscription</button>
    }
</div>