@{ ViewBag.Title = "Create Lists in Hist Web"; }

<h2>Create Lists</h2>

@using (Html.BeginForm("CreateAnnouncementsList", "Home", new { SPHostUrl = Request["SPHostUrl"] }, FormMethod.Post)) {
  @Html.AntiForgeryToken()
  <div class="form-horizontal">
    <input type="submit" value="Create Announcements List" class="btn btn-default" />
  </div>
}