
@{
    ViewBag.Title = "GrantPermissions";
}

<center>
    <h2>Connect your directory</h2>
    <p>
        In order to begin sync'ing users, an administrator from your company needs to approve access to the user list.
        If you are an admin, please click below to approve the User Sync app.
    </p>
    <p class="text-danger">@ViewBag.ErrorDescription</p>
    <hr />
    <p><a href="/Account/RequestPermissions" class="btn btn-primary btn-lg">Grant Permissions &raquo;</a></p>
</center>