@{
    ViewBag.Title = "Sign In";
}

<center>
    <h2>Welcome to User Sync!</h2>
    <h4>Please sign in to begin sync'ing your company's users.</h4>
    <hr />
    <p><a href="/Account/SignIn" class="btn btn-primary btn-lg">Sign In &raquo;</a></p>
</center>
