
@{
    ViewBag.Title = "UserMismatch";
}

<center>
    <h2>Sorry!</h2>
    <p>
        The user sync app is for organizational users only.  You signed in with a personal Microsoft account.  Please sign out and sign in using an work or school Microsoft account given to you by your organization. 
    </p>
    <hr />
    <p><a href="/Account/SignOut" class="btn btn-primary btn-lg">Sign Out &raquo;</a></p>
</center>

