@model ClientCredsAddin.Models.MailViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Model.AppState.AppIsAuthorized == false)
{
    using (Html.BeginForm("", "Mail", FormMethod.Post))
    {
        <p>Force admin consent:</p>
        <button type="submit" name="action:GoAdminConsent">Go Admin Consent</button>
    }
}

@if (Model.AppState.AppIsAuthorized == true)
{

    using (Html.BeginForm("", "Mail", FormMethod.Post))
    {
        <p>
            Select a mailbox:<br />
            @Html.DropDownList("Mailbox", Model.UserListSelectors)
            <button type="submit" name="action:viewMailboxMessages">View User's Emails</button>
        </p>
    }

    if (Model.Messages.Count > 0)
    {
        <p>
            <strong>Selected mailbox messages: </strong> [@Model.SelectedMailbox]<br />
            <ul>
                @foreach (var message in Model.Messages)
                {
                    <li>@message</li>
                }
            </ul>
        </p>
    }
}