<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Data.Edm" version="5.6.1" targetFramework="win81" />
  <package id="Microsoft.Data.OData" version="5.6.1" targetFramework="win81" />
  <package id="Microsoft.Data.Services.Client" version="5.6.1" targetFramework="win81" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.11.10918.1222" targetFramework="win81" />
  <package id="Microsoft.Office365.MyFiles" version="0.1.1-alpha" targetFramework="win81" />
  <package id="Microsoft.Office365.OAuth.Windows" version="0.1.1-alpha" targetFramework="win81" />
  <package id="Microsoft.Office365.UsersGroups" version="0.1.1-alpha" targetFramework="win81" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="win81" />
  <package id="System.Spatial" version="5.6.1" targetFramework="win81" />
</packages>